/*Create a navigation bar out of an unordered list element, and add the following interactivity.

1. When the user hovers over one of the links, the color of the text should change.

2. When the user hovers over one of the links, the background color of the 
element that contains the link should change.

3. When the user clicks on one of the links, the element that contains 
the link should grow in size by 5px on the left and right.*/

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: arial, sans-serif;  
}

.nav {
  font-size: 1.2em;
  text-align: center;
  height: 100px;
  background-color: #e5ffff;
  margin-top: 0;
}

.nav > li {
  float: left;
  list-style-type: none;;
  font-family: "Arial";
  cursor: pointer;
  height: 50px;
  padding: 40px 30px 10px 30px;
  vertical-align: middle;
}

.nav > li:hover {
  color: #ffccb3;
  background-color: #fff;
}

.nav > li:active {
  padding: 40px 35px 10px 35px;

}

.container {
  margin: auto;
  padding-top: 5%;
  width: 80%;
}

.clear {
  clear: both;
}